<% include ./partials/header %>

	<!-- main area -->
	<main class="main">
		<div class="col">
			<div class="row">
				<div class="col-md-2" id="sidebar">
					<!-- side menu -->
					<br>
					<b><font size="3">Find a Course</font></b>

					<form>
						<input type="search" name="course-name" class="form-control" placeholder="Course name">	

						<button type="submit" class="btn btn-block btn-success"> Find </button>
					</form>
					<br>

					<!-- ************* Create a new class ****************------>
					<form id="create-class">
					<div class="row">
						<div class="col-md-7">
					<b><font size="3">Create a class</font></b>

					
						<input type="search" name="course-title" id="class-title" class="form-control" placeholder="Class name">	

						<button type="submit" class="btn btn-block btn-success" id="create-class"> Create Class </button>
					
					<br>
					</div>
					<div class="col-md-5"><select class="form-control s-area" id="lang">
						<option> Lang </option>
						
						<option value="Csharp&id=1&mime=text/x-csharp"> C# </option>
						<option value="VB.NET&id=2&mime=text/x-vb"> VB.NET </option>
						<option value="Fsharp&id=3&mime=text/x-fsharp"> F# </option>
						<option value="Java&id=4&mime=text/x-java"> Java </option>
						<option value="Python&id=5&mime=text/x-python"> Python </option>
						<option value="C&id=6&mime=text/x-csrc"> C (gcc)</option>
						<option value="CPP&id=7&mime=text/x-c++src"> C++ (gcc)</option>
						<option value="PHP&id=8&mime=text/x-php"> PHP </option>
						<option value="Pascal&id=9&mime=text/x-pascal"> Pascal </option>
						<option value="Objective-C&id=10&mime=text/x-objectivec"> Objective-C </option>
						<option value="Haskell&id=11&mime=text/x-haskell"> Haskell  </option>
						<option value="Ruby&id=12&mime=text/x-ruby"> Ruby  </option>
						<option value="Perl&id=13&mime=text/x-perl"> Perl  </option>
						<option value="Lua&id=14&mime=text/x-lua"> Lua  </option>
						<option value="Sql&id=16&mime=text/x-sql"> Sql  </option>
						<option value="JS&id=17&mime=text/javascript"> Javascript  </option>
						<option value="Lisp&id=18&mime=text/x-common-lisp"> Lisp  </option>
						<option value="Prolog&id=19&mime=text/x-common-lisp"> Prolog  </option>
						<option value="Go&id=20&mime=text/x-go"> Go </option>
						<option value="Scala&id=21&mime=text/x-scala"> Scala </option>
						<option value="Scala&id=22&mime=text/x-scheme"> Scheme </option>
						<option value="NodeJS&id=23&mime=text/javascript"> NodeJS </option>
						<option value="Python 3&id=24&mime=text/x-python"> Python 3 </option>
						<option value="Octave&id=25&mime=text/x-octave"> Octave </option>
						<option value="C&id=26&mime=text/x-csrc"> C(C lang) </option>
						<option value="Cpp&id=27&mime=text/x-c++src"> C++(C lang) </option>
						<option value="Cpp&id=28&mime=text/x-c++src"> C++(vc++) </option>
						<option value="C&id=29&mime=text/x-csrc"> C(vc) </option> 
						<option value="D&id=30&mime=text/x-d"> D </option> 
						<option value="R&id=31&mime=text/x-rsrc"> R </option> 
						<option value="R&id=32&mime=text/x-tcl"> TCL </option> 
						<option value="Mysql&id=33&mime=text/x-mysql"> Mysql </option> 
						<option value="PostgreSql&id=34&mime=text/x-pgsql"> Postgressql </option> 
						<option value="Oracle&id=37&mime=text/x-swift"> Swift </option> 
						<option value="Bash&id=38&mime=text/x-mllike"> Bash </option> 
						<option value="Bash&id=39&mime=text/x-mllike"> Ada </option> 
						<option value="Erlang&id=40&mime=text/x-erlang"> Erlang </option> 
						<option value="Elixir&id=41&mime=text/x-erlang"> Elixir </option> 
						<option value="Ocaml&id=42&mime=text/x-erlang"> Ocaml </option> 
						<option value="kotlin&id=43&mime=text/x-squirrel"> Kotlin </option> 
						<option value="Brainfuck&id=44&mime=text/x-brainfuck"> Brainfuck </option> 
						<option value="Fortran&id=45&mime=text/x-fortran"> Fortran </option>
					</select></div>
				</div>
			</form>
					

				</div>

				<div class="col-md-10">
					<!-- datatables for addition of lessons -->

					 <!-- DataTables Example -->
					 <div class="card mb-3">
						<div class="card-header" style="color:black">
						  <i class="fas fa-table"></i>
							Manage additions  | <a href="/additions" style="color : black"> Manage Additions </a></div>
						<div class="card-body">
						  <div class="table-responsive">
							<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" style="color : black">
							  <thead>
								<tr>
								  <th> Class title </th>
								  
								  <th> language </th>
								  <th>Action</th>
									</thead>
							  								  <tbody>
			  
			  
			  
								  <% managerDetails.forEach(function(mgx){%>
								  <tr class="<%= mgx._id %> ">
									<td> <%= mgx.classTitle %> </td>
									
									<td> <%= mgx.language %> </td>
									<td><a href="/additions?id=<%= mgx._id %>"> <button class="btn btn-info" id="<%= mgx._id %>"> Edit </button>  </a><button class="btn btn-danger disapprove" id="<%= mgx._id %>"> Delete </button> <button class="btn btn-success" onclick="newlesson(this)" id="<%= mgx._id %>"> New </button></td> 
			  
									</tr>
								  <%}) %>
			  
								 
								
			  
					   
							   
							  </tbody>
							</table>
						  </div>
						</div>
						
					  </div>
			  
					</div>
					<!-- /.container-fluid -->

				</div>
				

				
				

				
				
			</div>
		</div>
	</main>

 


	

<script>

	$(document).ready(function(){
		$('.disapprove').click(function(){
   
		const id = $(this).attr("id");

   
		if(confirm("Are you sure you want to delete ? ")){

			
		$.ajax({
		type : "POST",
		url : "/deleteClass",
		data : ({
		 id : id
		}),
		cache : false,
		success : function(html){
		$("."+id).fadeOut('slow')
		}
		})
		}
		else{
		return false
		}
		})
	})

	function newlesson(th){
		//store the class id in browser.
		
		storeInBrowser("ed_class_id",th.id)
		
		MicroModal.show('modal-1');
	}
</script>

<% include ./partials/footer %>